<div class="container mx-auto px-4">
    <h1 class="text-2xl font-light text-center lg:text-left mt-4 mb-2">Thumbnail Gallery</h1>
    <hr class="border-gray-300 my-4">

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let image of gallery" class="mb-4">
            <div class="relative bg-white shadow rounded overflow-hidden">
                <img class="w-full h-full object-cover" [src]="image.image_url" [alt]="image.prompt || 'Image'">
                <!-- Display the prompt -->
                <p class="text-center mt-2 text-sm text-gray-700">{{ image.prompt }}</p>
            </div>
        </div>
    </div>
</div>
