<nav class="sticky top-0 z-50 w-full " style="background-color: rgb(36, 36, 36);">
  <div class="container mx-auto flex items-center justify-between p-2.5">
    <a
      href="https://www.material-tailwind.com"
      target="_blank"
      class="text-lg font-bold text-white"
      >PixGen</a
    >
    <ul class="hidden lg:flex ml-10 items-center gap-8">
      <li *ngFor="let nav of navMenu">
        <!-- Conditionally show "Profile" and "Gallery" links -->
        <a
          *ngIf="nav.name !== 'Profile' && nav.name !== 'Gallery' || user"
          routerLink="{{nav.path}}"
          class="text-white font-medium hover:text-gray-800"
          >{{ nav.name }}</a
        >
      </li>
    </ul>
    <div class="hidden lg:flex items-center gap-2">
      <a routerLink="/login" *ngIf="!user">
        <button class="text-white mr-2">Log in</button>
      </a>
      <a routerLink="/register" *ngIf="!user">
        <button class="bg-yellow-700 text-white px-4 py-2 rounded">Sign up</button>
      </a>
      <button *ngIf="user" (click)="logout()" class="text-white mr-2 text-red-600">Logout</button>
    </div>
    <button
      (click)="toggleOpen()"
      class="ml-auto lg:hidden text-gray-700"
      aria-label="Toggle navigation"
    >
      <ng-container *ngIf="open">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </ng-container>
      <ng-container *ngIf="!open">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </ng-container>
    </button>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="open" class="container mx-auto mt-3 border-t border-gray-200 p-4 lg:hidden">
    <ul class="flex flex-col gap-4">
      <li *ngFor="let nav of navMenu">
        <!-- Conditionally show "Profile" and "Gallery" links -->
        <a
          *ngIf="nav.name !== 'Profile' && nav.name !== 'Gallery' || user"
          href="{{nav.path}}"
          class="text-white font-medium">{{ nav.name }}</a
        >
      </li>
    </ul>
    <div class="mt-6 mb-4 flex items-center gap-2">
      <a href="login" target="_blank">
        <button class="text-gray-700" *ngIf="!user">Log in</button>
      </a>
      <a href="register" target="_blank">
        <button class="bg-yellow-700 text-white px-4 py-2 rounded" *ngIf="!user">Sign up</button>
      </a>
    </div>
  </div>
</nav>
