<!-- <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="register" (ngSubmit)="onSubmit()">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="User name" [(ngModel)]="username" name="username" required>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-envelope"></i>
            <input type="email" class="login__input" placeholder="Email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" [(ngModel)]="password" name="password" required>
          </div>
          <button class="button login__submit" type="submit">
            <span class="button__text">Register Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
        <div class="social-login">
          <h3>Already have an account?</h3>
          <button (click)="navigateToLogin()" class="button login-link">Log In Now</button>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
   -->

   <section class="!m-8 flex">
    <div class="w-2/5 h-full hidden lg:block">
      <img
        src="/painting-representing-krishna_23-2151073037.avif"
        class="h-full w-full object-cover rounded-3xl"
      />
    </div>
    <div class="w-full lg:w-3/5 flex flex-col items-center justify-center">
      <div class="text-center">
        <h2 class="font-bold mb-4">Join Us Today</h2>
        <p class="text-lg font-normal text-blue-gray">Enter your email and password to register.</p>
      </div>
      <form class="!mt-8 !mb-2 mx-auto w-80 max-w-screen-lg lg:w-1/2" (ngSubmit)="onSubmit()">
        <!-- <p *ngIf="error" class="text-red-600 bg-red-100 border border-red-400 rounded p-2 mb-4">{{ error }}</p> -->
        <div class="!mb-1 flex flex-col gap-6">
          <label class="font-medium !mb-1 text-blue-gray">Your username</label>
          <input
            type="text"
            name="username"
            [(ngModel)]="username"
            placeholder="username"
            class="border border-gray-300 focus:border-gray-900 rounded-lg !p-2"
          />
          
          <label class="font-medium !mb-1 text-blue-gray">Your email</label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            [(ngModel)]="email"
            placeholder="name@mail.com"
            class="border border-gray-300 focus:border-gray-900 rounded-lg !p-2"
          />
          
          <label class="font-medium !mb-1 text-blue-gray">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            [(ngModel)]="password"

            placeholder="********"
            class="border border-gray-300 focus:border-gray-900 rounded-lg !p-2"
          />
        </div>
        
        <label class="flex items-center justify-start font-medium !mt-2">
          <input type="checkbox" />
          I agree to the
          <a href="#" class="font-normal text-black transition-colors hover:text-gray-900 underline"> Terms and Conditions</a>
        </label>
  
        <button  class="!mt-6 w-full hover:bg-blue-500 text-white rounded-lg !p-2 bg-gray-900" type="submit">
          Register Now
        </button>

  
        
  
        <p class="text-center text-blue-gray-500 font-medium !mt-4">
          Already have an account?
          <a routerLink="/login" class="text-gray-900 !ml-1">Sign in</a>
        </p>
      </form>
    </div>
  </section>
  