<div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="register" (ngSubmit)="onSubmit()">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="User name" [(ngModel)]="username" name="username" required>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-envelope"></i>
            <input type="email" class="login__input" placeholder="Email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" [(ngModel)]="password" name="password" required>
          </div>
          <button class="button login__submit" type="submit">
            <span class="button__text">Register Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
        <div class="social-login">
          <h3>Already have an account?</h3>
          <button (click)="navigateToLogin()" class="button login-link">Log In Now</button>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
  